<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bac.bacinnermanager">

    <!-- 网络请求 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@mipmap/bac"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:resizeableActivity = "true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ThirdActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ForthActivity"
            android:launchMode="singleTask" />


        <!-- test-->

        <activity android:name=".test.SearchBalanceHomeActivity" />
        <activity android:name=".test.SearchBalanceHomeActivity2" />
        <activity android:name=".test.SearchBalanceHomeActivity3" />

    </application>

</manifest>